extends layout

block content
  h1 Add a book
  if errors
    each error in errors
      div.add
      p(style="color:red") #{error.msg}
  
  form(method="POST", action="/book/add")
    #form-group-title.form-group
      div(id= "title" for="title") Title: 
      input#title.input-control(name="title", type="text")
    #form-group-author.form-group
       div(id= "author" for="author") Author: 
       input#author.input-control(name="author", type="text")
    #form-group-pages.form-group
       div(id= "pages" for="pages") Pages: 
       input#pages.input-control(name="pages", type="number")
    #form-group-rating.form-group
      div(id= "rating" for="rating") Rating: 
      input#rating.input-control(name="rating", type="number")
    #form-group-isbn.form-group
      div(id= "isbn" for="isbn") ISBN: 
      input#isbn.input-control(name="isbn", type="number")
    #form-group-genres.form-group
      div(id= "genre" for="genres") Genres: 
      each genre in genres 
         input.input-control(name="genres", type="checkbox", value=genre)
         div #{genre}
    #form-group-submit.form-group
      input.btn.btn-primary.input-control(type="submit", value="Submit") 
    
